extends ../layout

block content
    form(class='form' id='form', method='post', action='/issues/edit/#{issue.id}')
      h3 Edit Issue Details

      div.form-group
        label(for='description') Description
        input(type='text', id='description', name='description', value='#{issue.description}')

      div.form-group
        label(for='severity') Severity
        select(name='severity')
          each severity in severities
            option(value=severity selected=(severity === issue.severity)) #{severity}

      div.form-group
        label(for='status') Status
        select(name='status')
          each status in statuses
              option(value=status selected=(status === issue.status)) #{status}

      div.form-group
        label(for='createdDate') Created Date
        input(type='date', id='createdDate', name='createdDate', value='#{issue.createdDate}')

      div.form-group
        label(for='resolvedDate') Resolved Date
        input(type='date', id='resolvedDate', name='resolvedDate', value='#{issue.resolvedDate}')

      div.form-group
        button(class='btn btn-success' type='submit', value='Add Issue') Save

    div.menu
      a(href='/issues')
        button.btn.btn-danger Go Back
