extends ../layout

block content
  h2.center Issues
  div.table-box
    table
      tr
        th Description
        th Severity
        th Status
        th Created Date
        th Resolved Date
        th Edit
        th Delete
      each item in issues
        tr
          td #{item.description}
          td #{item.severity}
          td #{item.status}
          td #{item.createdDate}
          td #{item.resolvedDate}
          td
            a(href='/issue/edit/#{item.id}')
              button.btn-info Edit
          td
            a(href='/issue/delete/#{item.id}')
              button.btn-danger Delete

  div.menu
    a(href='/issue/create')
      button.btn-success Add new issue
    a(href='/')
      button Home
