extends ../layout

block content
  h2.center Issues
  div.table-box
    table
      tr
        th ID
        th Description
        th Severity
        th Status
        th Created Date
        th Resolved Date
        th Edit
        th Delete
      each issue in issues
        tr
          td #{issue.id}
          td #{issue.description}
          td #{issue.severity}
          td #{issue.status}
          td #{issue.createdDate}
          td #{issue.resolvedDate}
          td
            a(href='/issues/edit/#{issue.id}')
              button.btn-info Edit
          td
            a(href='/issues/delete/#{issue.id}')
              button.btn-danger Delete

  div.menu
    a(href='/issues/create')
      button.btn-success Add new issue
    a(href='/')
      button Home
